body {
background-color: rgb(39, 146, 218);
display: flex;
flex-direction:column;
font-size: 1.5rem;
text-align: center;
align-items: center;

}

h3 {
  color: white;
  text-align: center;
  font-size: 3rem;
  font-family: 'Courier New', Courier, monospace;
  border-radius: 10px;
  padding: 10px 20px;
  font-weight: bold;
  border: 2px solid white;

}

.list-of-tasks-todo{
  padding-top: 0px;
  width: 400px;
 background-color: white;
 font-size:1rem ;
 text-align: left;
 

}
.task-name{
  cursor:pointer;
  
}
.completed-task{
  text-decoration: line-through;
}
button{
  border: 0;
  margin-left: 0px;
  cursor: pointer;
  font-size: 18px;
  outline:0;
}
.task-status{
  color: rgb(33, 7, 94);
  padding:3px 10px;
  width: 400px;
  border-bottom: 2px;
  border-color: black;
}

.task-status button{
  color:gray;
  border-radius: 10px;
  padding: 3px;

  border: 0;
  margin-left: 20px;
  cursor: pointer;
  font-size: 18px;
  outline:0;

}
input{
  background-color:white;
  padding:7px 10px;
  font-size: 1rem;
  color:black;
  outline: 0;
  border: 0;
  flex: 1;
}

form{
  display: flex;
  padding-top: 10px;
}
 form button {
  color:black;
  background: white;
  outline: 0;
  padding: 0 15px;
 }